	<div class="card">
		<a href="quickview?id=<%=id %>"><img src=<%=img %>></a>
		<div class="items">
			<div class="namePrice">
				<p class="name"><%=name %></p>
				<p class="price">$ <%=price %></p>
			</div>
			<div class="cartLove">
				<% 
					var s =id
					var css_id ="css"+s
					console.log(css_id)
				%>
				<a href=""><img src="images/icons/heart.svg"></a>
				<a  href="addtocart?<%=s%>" id="<%=css_id %>" class="addtocart"><img src="images/icons/cart.svg"></a>
				<span class="<%=id%>" style="display: none;"><%=name %></span>
				<%-include('pre-loader.ejs',{id:id}) %>


			</div>
		</div>
	</div>