<div class="itemCard">
    <div class="imageDetails">
        <div class="cartImage">
            <a href=""><img src="<%=img%>"></a>
        </div>
        
        <div class="cartDetails">
            <p class="productName"><%=name%></p>
            <a href=""><p class="productCategory"><%="pr"%></p></a>
            <a class="removed" href="removefromcart?<%="id" %>" id="<%="id" %>"><p class="remove"><%="Remove" %></p></a>

        </div>
        
    </div>
    <div class="rightDetails">
        <div class="quantity">
            <a href=""><span class="sub">-</span></a>
            <span class="sub"><%=count %></span>
            <a href=""><span class="sub">+</span></a>
        </div>
        <div class="price">
            <p><%=price %></p>
        </div>
        <div class="total">
            <p class="totalprice"><%=total_amount%></p>
        </div>

        
    </div>
</div>

