<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/quickView.css">
	<title></title>
</head>
<body>
	<section class="container">
		<div class="moreImages">
			<div class="images">
				<img src=<%=result.image_url %>>
				<img src=<%=result.image_url %>>
				<img src=<%=result.image_url %>>
			</div>
			
		</div>
		<div class="mainImage">
				<img src=<%=result.image_url %>>
			
		</div>
		<div class="details">
			<div class="name">
				<p><%=result.name %></p>
				
			</div>
			<div class="price">
				<p>$ <%=result.price %></p>
				
			</div>
			<div class="description">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
			<div class="sizeColor">
				<form>
					<div>
						<label>Size:<p>	</p></label>
						<select>
							<option value="" disabled selected>Select your option</option>
							<option>S</option>
							<option>M</option>
							<option>L</option>
							<option>XL</option>
						</select>
					</div>
					<div>
						<label>Color: <p>	</p></label>
						<select>
							<option value="" disabled selected>Select your option</option>
							<option>Red</option>
							<option>Blue</option>
							<option>Black</option>
							<option>Gray</option>
						</select>
					</div>
					
				</form>
			</div>
			<div class="numCard">
				<div class="nums">
					<a href=""><span class="sub">-</span></a>
					<span class="sub">0</span>
					<a href=""><span class="sub">+</span></a>
				</div>
				<div>
					<a href=""><button>ADD TO CART</button></a>
					<a href=""><button>ORDER NOW</button></a>
				</div>
				
				
			</div>
			<div class="socials">
				<ul>
					<a href="#"><li><img src="images/icons/heart.svg"></li></a>
					<a href="#"><li><img src="images/icons/cfacebook.svg"></li></a>
					<a href="#"><li><img src="images/icons/cinstagram.svg"></li></a>
					<a href="#"><li><img src="images/icons/cwhatsapp.svg"></li></a>
				</ul>
			</div>
			
		</div>
		
	</section>

</body>
</html>